.table-container {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
  position: relative;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table thead {
  position: sticky;
  top: 0;
  background-color: #007bff; /* Header background color */
  color: white; /* Header text color */
  z-index: 1;
}

.user-table th, .user-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table tbody tr:hover {
  background-color: #f5f5f5;
}

.user-table th {
  background-color: #007bff; /* Header background color */
  color: #fff; /* Header text color */
  text-transform: uppercase;
}

.user-table tbody {
  display: block;
  max-height: 400px; /* Same as .table-container height */
  overflow-y: auto;
}

.user-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.user-table thead, .user-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

  
  .edit{
    background-color: rgb(246, 187, 69);
    color: #fff;
    border-radius: 20px;
    font-size: large;
    border-color: transparent;
    cursor: pointer;
  }

  .delete{
    background-color: rgb(233, 52, 11);
    color: #fff;
    border-radius: 20px;
    font-size: large;
    border-color: transparent;
    cursor: pointer;
  }